In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('pp_pic_des_t64.csv',header = None, names = ['perfume_id','perfume_name','image64','description'])

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51212 entries, 0 to 51211
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   perfume_id    51212 non-null  int64
 1   perfume_name  51212 non-null  object
 2   image64       50569 non-null  object
 3   description   50569 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.6+ MB

In [7]:
data.to_csv('pp_pic_des_t64_header.csv',index = False)

In [8]:
data2 = pd.read_csv('pp_pic_des_t64_header.csv',)
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51212 entries, 0 to 51211
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   perfume_id    51212 non-null  int64
 1   perfume_name  51212 non-null  object
 2   image64       50569 non-null  object
 3   description   50569 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.6+ MB

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51212 entries, 0 to 51211
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   perfume_id    51212 non-null  int64
 1   perfume_name  51212 non-null  object
 2   image         47803 non-null  object
 3   description   34687 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.6+ MB

In [11]:
# 找到所有没有爬到pic的行，整成一个表，对这个表中的所有重新爬
data_pic = data[['perfume_id','perfume_name','image']]
nanpic = data_pic[data_pic.isnull().T.any()]

In [12]:
nanpic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3409 entries, 58 to 51191
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   perfume_id    3409 non-null   int64
 1   perfume_name  3409 non-null   object
 2   image         0 non-null      object
dtypes: int64(1), object(2)
memory usage: 106.5+ KB

In [27]:
for row, index in nanpic.iterrows():
    p_id = row[0]
    name = row[1]
    list_r = []
    list_r.append(p_id)
    list_r.append(name)
    try:
        (pictUrl, descInfo) = collect(name)
        acq_pic(pictUrl, p_id)
        if (descInfo == None):
            descInfo = 'NULL'
        else:
            descInfo = translate(descInfo)
        list_r.append(pictUrl)
        list_r.append(descInfo)
        f1 = open('./pp_pic_des_22.csv', 'a+', encoding='utf-8', newline='')
        writer1 = csv.writer(f1)
        writer1.writerow(list_r)
        f1.close()

    except Exception as e:
        # print(e)
        a = [p_id, name, 'NULL', 'NULL']
        f1 = open('./pp_pic_des_22.csv', 'a+', encoding='utf-8', newline='')
        writer1 = csv.writer(f1)
        writer1.writerow(a)
        f1.close()
        print(name, '----- no this data！---', index)
        continue
    print(name, '----- Success！---', index)
    time.sleep(0.5)

#data.loc[58,'image'] = 'https://img.xssdcdn.com/perfume/278110.jpg'
#nanpic

/Users/woody/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,perfume_id,perfume_name,image
58,58,Peau d'Ailleurs Starck,https://img.xssdcdn.com/perfume/278110.jpg
121,121,Faerie Queen Alkemia Perfumes,NaN
123,123,Juwayriya Abdul Karim Al Faransi,NaN
149,149,Blousy Miller Harris,NaN
150,150,Si Fleuri Passion Lomani,NaN
...,...,...,...
29398,29397,Paris - Dakar Rain Parfums Codibel,NaN
29399,29398,Intoxication d'Amour (Vintage) D'Orsay,NaN
29400,29399,Shiny Day Natural Scents,NaN
29422,29422,Narcisse Dark Art Deco Perfumes,NaN
29423,29423,L'Eau D'Ambre Extrême L'Artisan Parfumeur,NaN

In [6]:
import requests


def collect(word):
    url = f'https://www.nosetime.com/search.php?op=ajax&type=all&word={word}'
    headers = {
        'User-Agent': 'Mozilla/5.0(WindowsNT10.0;Win64;x64)AppleWebKit/537.36(KHTML,likeGecko)Chrome/91.0.4472.106Safari/537.36'
    }
    res = requests.get(url=url, headers=headers).json()
    try:
        for li in res['item']['data']:
            itemId = li['id']
            pict = f'https://img.xssdcdn.com/perfume/{itemId}.jpg'
            desc = li['desc']
            break
    except Exception as e:
        print(str(e))
        (pict, desc) = ('', '')
    finally:
        return pict, desc

In [7]:
key = "Kimoji Cherry KKW Fragrance"
(pictUrl, descInfo) = collect(key)
print(pictUrl)
print(descInfo)

https://img.xssdcdn.com/perfume/931281.jpg

In [16]:
#image转base64
import base64
with open("./tupian/1.png","rb") as f:#转为二进制格式
    base64_data = base64.b64encode(f.read())#使用base64进行加密
    #print(base64_data)
    #file=open('1.txt','wt')#写成文本格式
    #file.write(base64_data)
    #file.close()

In [17]:
len(base64_data)

15580

In [18]:
#样集1
left = pd.DataFrame({'key': ['foo', 'bar1'], 'val': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'val': [4, 5]})
right2 = pd.DataFrame({'key': ['bar1', 'foo'], 'val': [9, 10]})

In [19]:
left

    key  val
0   foo    1
1  bar1    2

In [20]:
right

   key  val
0  foo    4
1  bar    5

In [21]:
right2

    key  val
0  bar1    9
1   foo   10

In [22]:
print(pd.merge(left, right, left_index=True,
               right_index=True, how='left'))

  key_x  val_x key_y  val_y
0   foo      1   foo      4
1  bar1      2   bar      5

In [23]:
print(pd.merge(left, right,on='key'))

   key  val_x  val_y
0  foo      1      4

In [9]:
import pandas as pd
import numpy as np

data1 = pd.read_csv('perfume_table.csv')
data2 = pd.read_csv('pp_pic_des33_header.csv',)

In [10]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51212 entries, 0 to 51211
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   perfume_id    51212 non-null  int64
 1   perfume_name  51212 non-null  object
 2   brand         51212 non-null  object
 3   date          51212 non-null  int64
 4   image         0 non-null      float64
 5   description   0 non-null      float64
 6   target        51212 non-null  int64
dtypes: float64(2), int64(3), object(2)
memory usage: 2.7+ MB

In [11]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51212 entries, 0 to 51211
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   perfume_id    51212 non-null  int64
 1   perfume_name  51212 non-null  object
 2   image         50569 non-null  object
 3   description   35140 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.6+ MB

In [20]:
data3 = data1.loc[:,['perfume_id','perfume_name', 'brand', 'date', 'target']]
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51212 entries, 0 to 51211
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   perfume_id    51212 non-null  int64
 1   perfume_name  51212 non-null  object
 2   brand         51212 non-null  object
 3   date          51212 non-null  int64
 4   target        51212 non-null  int64
dtypes: int64(3), object(2)
memory usage: 2.0+ MB

In [23]:
data4 = data2.loc[:,['perfume_id','image','description']]
data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51212 entries, 0 to 51211
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   perfume_id   51212 non-null  int64
 1   image        50569 non-null  object
 2   description  35140 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.2+ MB

In [25]:
data5 = pd.merge(data3,data4, on='perfume_id', how='left')

In [26]:
data5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51212 entries, 0 to 51211
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   perfume_id    51212 non-null  int64
 1   perfume_name  51212 non-null  object
 2   brand         51212 non-null  object
 3   date          51212 non-null  int64
 4   target        51212 non-null  int64
 5   image         50569 non-null  object
 6   description   35140 non-null  object
dtypes: int64(3), object(4)
memory usage: 3.1+ MB

In [29]:
data5=data5[['perfume_id','perfume_name','brand','date',
             'image','description','target']]


data5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51212 entries, 0 to 51211
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   perfume_id    51212 non-null  int64
 1   perfume_name  51212 non-null  object
 2   brand         51212 non-null  object
 3   date          51212 non-null  int64
 4   image         50569 non-null  object
 5   description   35140 non-null  object
 6   target        51212 non-null  int64
dtypes: int64(3), object(4)
memory usage: 3.1+ MB

In [30]:
data5.to_csv('nnpp_total.csv',index = False)

In [32]:
data6 = data5.where(data5.notnull(),"NULL")
data6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51212 entries, 0 to 51211
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   perfume_id    51212 non-null  int64
 1   perfume_name  51212 non-null  object
 2   brand         51212 non-null  object
 3   date          51212 non-null  int64
 4   image         51212 non-null  object
 5   description   51212 non-null  object
 6   target        51212 non-null  int64
dtypes: int64(3), object(4)
memory usage: 3.1+ MB

In [33]:
data6.to_csv('nnpp_total22.csv',index = False)

In [1]:
import pandas as pd
import numpy as np

In [2]:
data1 = pd.read_csv('nnpp_total22.csv')
data1.head()

,perfume_id,perfume_name,brand,date,image,description,target
0,0,Aamal The Spirit of Dubai,The-Spirit-of-Dubai,2017,https://img.xssdcdn.com/perfume/725418.jpg,NaN,2
1,1,Aatifa Ajmal,Ajmal,2014,https://img.xssdcdn.com/perfume/590365.jpg,Ajmal is a unique combination of traditional w...,2
2,2,AA Al-Jazeera Perfumes,Al-Jazeera-Perfumes,0,https://img.xssdcdn.com/perfume/311941.jpg,Al-Jazeera Perfumes has launched 23 fragrances.,2
3,3,aarewasser Art of Scent - Swiss Perfumes,Art-of-Scent-Swiss-Perfumes,2010,https://img.xssdcdn.com/perfume/485888.jpg,NaN,2
4,4,Aaliyah Hamidi Oud & Perfumes,Hamidi-Oud-Perfumes,0,https://img.xssdcdn.com/perfume/385852.jpg,Hamidi U M (Hamidi Oud & Perfumes) is a new mi...,2

In [4]:
row = data1.loc[0,]

In [5]:
row

perfume_id                                               0
perfume_name                     Aamal The Spirit of Dubai
brand                                  The-Spirit-of-Dubai
date                                                  2017
image           https://img.xssdcdn.com/perfume/725418.jpg
description                                            NaN
target                                                   2
Name: 0, dtype: object

In [3]:
def checknan(item):
    if item == ''or pd.isna(item):
        result = "NULL,"
    else:
        result = "'"+checkquot(item)+"',"
    return result


# 检查引号的转义
def checkquot(item):
    result = item.replace("'","''")
    return result

In [14]:
row[2] = "The-Spirit-'of-Dubai"

text = "insert into perfume (perfume_id, perfume_name, brand, date,"\
"image, description, target) values(" + str(row[0]) +",'"+checkquot(row[1])+"','"+\
checkquot(row[2])+"',"+str(row[3])+','+checknan(row[4])+ checknan(row[5])+\
str(row[6])+');'+'\n'

In [15]:
text

"insert into perfume (perfume_id, perfume_name, brand, date,image, description, target) values(0,'Aamal The Spirit of Dubai','The-Spirit-'''of-Dubai',2017,'https://img.xssdcdn.com/perfume/725418.jpg',NULL,2);\n"

In [5]:
import re
import math
import sys


count = 0
file = open('3-total_perfume/{}k-{}k.txt'.format(count,count+3), mode = 'w')

for index, row in data1.iterrows():
    
    text = "insert into perfume (perfume_id, perfume_name, brand, date,"\
" image, description, target) values(" + str(row[0]) +",'"+checkquot(row[1])+"','"+\
checkquot(row[2])+"',"+str(row[3])+','+checknan(row[4])+ checknan(row[5])+\
str(row[6])+');'+'\n'
    
    file.write(text)
    
    if index >=3000 and index %3000==0:
        file.close()
        count+=3
        
        file = open('3-total_perfume/{}k-{}k.txt'.format(count,count+3), mode = 'w')
        
    
file.close()